<h1>products users site</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-10">
    <% @products.each do |product| %>
        <div class="border product-item">
          <%= image_tag product.image ,width:'150px'%>
          <h5><%= link_to product.name, product_path(product)%></h5>
          <div>
            <div>
            <%= truncate(product.description, length:80)%></div>
          <div>
            <%= number_to_currency(product.price)%>
            <%= link_to 'Add to Cahrt' ,add_cart_product_path(product) ,:method => :post, class: "btn btn-secondary"%>
          </div>
          </div>
        </div>

    <% end %>
    </div>
      <div class="col-sm-2">
        <% current_cart.cartitems.each do |cartitem| %>
            <div >
              <span><%= cartitem.product.name%></span>
              <div>

                <%= number_to_currency(cartitem.product.price)%>
                <%#= link_to 'Add to Cahrt' ,add_cart_product_path(product) ,:method => :post, class: "btn btn-secondary"%>
              </div>
              </div>


        <% end %>

      </div>
  </div>
</div>
